.xl-text{
    font-size: 75px;
}

.btn-outline-secondary{
    color: var(--bs-secondary);
}

.btn-outline-secondary{
    &:hover{
        color: white;
    }
}

.navbar {
    z-index: 10000; 
    position: relative; 
}

.navbar{
    transition: all .5s ease-in-out;
    position: fixed;
}

.navbar-sticky{
    background: #fff;
    opacity: .9;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.navbar .nav-link{
    font-size: 17px !important;
    color: #191e47;
}

.navbar{
    padding: 20px 0 !important;
}

.header .decoration-star{
    top: 80px;
    left: -200px;
    width: 500px;
    opacity: .7;
}

.header .decoration-star-2{
    top: 80px;
    left: -200px;
    width: 500px;
    opacity: .7;
    
}

.header .decoration-star{
    top: 80px;
    left: -200px;
}

.img-container{
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.counter-title{
    color: #4555d2;
    text-align: center;
}

.details .decoration-star{
    left: -200px;
    width: 500px;
}

.details-2 .decoration-star{
    left: -200px;
    width: 500px;
}

.projets img{
    height: 350px;
    object-fit: cover;
}

@media (max-width: 767px){
    .header{
        padding: 0 10px;
        padding-top: 5rem;
    }
    .img-container{
        padding-top: 25px;
        height: 400px;
        object-fit: cover;
    }

    .intro{
        padding: 40px 0 !important;
    }

    .details, .details-2{
        padding: 0 10px;
        margin: 10px 0 !important;
    }

    .details img, .details-2 img{
        height: 400px;
        object-fit: cover;
        margin-bottom: 1.3rem;
        margin-top: 30px;
    }

    .projects{
        padding: 0 10px;
    }

    .projets{
        margin-bottom: 20px;
    }
}

@media(max-width: 992px){
    .xl-text{
        font-size: 50px;
    }
    .header{
        margin-top: 0px !important;
        text-align: center;
    }

    .header .decoration-star{
        left: -100px;
        width: 250px;
    }

    .header .decoration-star-2{
        left: -100px;
        width: 250px;
    }

    .header .image-container{
        margin-top: 30px;
    }

    .details-2{
        margin-top: 20px !important;
    }

    .details-2 .decoration-star{
        top: 300px;
    }

    .navbar{
        .btn-outline-secondary{
            margin-top: 20px;
        }
    }
}

// footer
footer {
    background-color: #191e47;
    color: #f9fafe !important;
    padding: 40px 0;
}
footer a {
    color: #cc1973;
    text-decoration: none;
}
footer a:hover {
    color: #007bff;
}
.social-icons a i{
    font-size: 1.5rem;
    margin-right: 10px;
    padding: 10px;
    font-size: 24px;
    border-radius: 50px;
    color: white !important;
    background: #cc1973;
}

footer{
    font-size: 20px !important;
}

.mb-4 > .text-muted{
    color: #f9fafe !important;
}

.copyright{
    color: #f8f9fa !important;
}

@media (max-width:767px){
    footer{
        font-size: 18px !important;
        padding: 20px !important;
    }
}